.container {
    height: 100%;
    width: 100%;
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5vmax 4vmax 0vmax 4vmax;

}

.header h1 {
    font-size: 3.5vmax;
    font-weight: 500;
    margin-bottom: 2vmax;
}

.header p {
    color: #4F4F4F;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 80px 60px; */
    padding: 5vmax 0vmax;
    margin-top: -2rem;
}

.left {
    flex-direction: row;
}

.left {
    flex-direction: row-reverse;
}

.image {
    width: 40vw;
    text-align: center;
    /* box-shadow: 0px 30px 30px 20px #111; */
    margin: 0rem 3rem 0rem 3rem;


}

.image img {
    height: 20vmax;
    width: 18vmax;
    /* transform: rotate(13deg); */
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    right: 0;

}

.block .heads img {

    width: 50px;
    height: 50px;
    /* margin-top: 8.5%; */


}



.heads {
    width: 100%;
    display: flex;
    /* background-color: hotpink; */
}

.heads img {
    height: 14vmax;
    width: 14vmax;
}

.side {
    width: 100%;
    padding: 6% 3%;
}

.side h2 {
    font-size: 4.5vmax;
    font-weight: 400;
}

.side h4 {
    font-size: 3vmax;
    font-weight: 200;
}


.gifPosition {
    margin-left: -8rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes colorChange {
    0% {
        color: initial;
    }

    20% {
        color: rgb(85, 85, 97);
    }
    30% {
        color: rgb(121, 187, 130);
    }

    40% {
        color: rgb(189, 132, 132);
    }

    50% {
        color: rgb(86, 112, 86);
    }

    60% {
        color: rgb(107, 107, 187);
    }

    70% {
        color: rgb(250, 134, 173);
    }
    80% {
        color: rgb(99, 45, 63);
    }

    90% {
        color: rgb(101, 98, 117);
    }

    100% {
        color: initial;
    }

}


.oneContainer {
    /* background-color: aqua; */
    position: relative;

}

.oneContainer h2 {
    margin-left: 2.7rem;
}

.oneContainer h4 {
    animation: colorChange 4s;

}

.titlenGif {
    display: flex;
    top: 0;
    left: 0;
    /* background-color: blueviolet; */
}

.desc {
    width: 100%;
    color: #4F4F4F;
}

@media (max-width: 800px) {
    .wrapper {
        flex-direction: column;
    }

    .desc {
        width: 100%;
    }

    .heads {
        justify-content: center;
        width: 90vw;
    }

    .side {
        width: 100%;
    }

    .gifPosition {
        display: none;

    }

    .titlenGif .h2div h2 {
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    .header{
        margin-top: -10rem;
    }
    
}